@using MealWheel
@model IEnumerable<MealWheel.Models.Food_Products>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style1.css">
</head>

<body>
    <br>
     <!--<div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="header1">
            <img src="~/img/icecream.jpg" alt="banner-1" class="img-responsive">
            <div class="s-desc header1-heading-small"><h2>Ice Cream &amp; Sorbets</h2>
              <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
              <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
              <br />
              <a href="#" class="button1 button1-white button1-anim">shop now</a>
            </div>
          </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="header1">
                <img src="~/img/macrons.jpg" alt="banner-1" class="img-responsive">
                <div class="s-desc header1-heading-small"><h2>Ice Creams &amp; Sorbets</h2>
                  <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
                  <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
                  <br />
                  <a href="#" class="button1 button1-white button1-anim">shop now</a>
                </div>
                </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="header1">
                    <img src="~/img/cookies.jpg" alt="banner-1" class="img-responsive">
                    <div class="s-desc header1-heading-small"><h2>Ice Creams &amp; Sorbets</h2>
                      <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
                      <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
                      <br />
                      <a href="#" class="button1 button1-white button1-anim">shop now</a>
                    </div>
                    </div>
        </div>
        </div> -->
        <br />
        <div class="row">
          <!--<div class="col-md-4 col-sm-12">
            <div class="header1">
              <img src="~/img/icecream.jpg" alt="banner-1" class="img-responsive">
              <div class="s-desc header1-heading-small"><h2>Ice Creams &amp; Sorbets</h2>
                <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
                <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
                <a href="#" class="button1 button1-white button1-anim">shop now</a>
              </div>
              </div>
            </div>-->
          
             @foreach(var item in Model)
             {
                <div class="col-md-4 col-sm-4">
                    <div class="header2">
                        <div>
                      <img src="~/@item.picurl" alt="" class="img-responsive">

                                  @if(@item.fav ==false)
                                      {
                                          <div class="s-desca header1-heading-small">
                                         <a asp-action="add_fav" asp-route-id="@item.Id" asp-route-fav="@item.fav" id="cohe" style="color:white"> <i class="fa-solid fa-heart"></i>
                                            </a></div>
                                      }
                                   @if(item.fav==true)
                                {
                                    <div class="s-desca header1-heading-small">
                                    <a asp-action="add_fav" asp-route-id="@item.Id" asp-route-fav="@item.fav" id="cohe" style="color:red"> <i class="fa-solid fa-heart"></i>
                                    </a></div>
                                }

                      <div class="title">
                          <a asp-action="Details" asp-route-id="@item.Id">
                        <h4>
                          @item.Name
                        </h4>
                        </a>
                        <p>
                          @item.description
                        </p>
                        <h5>
                            Average rating:@item.rating
                          </h5>
                        <div class="nav2">
                          <h6>
                            Rs.@item.Price
                          </h6>
                          <a href="#">
                              <i class="fa fa-cart-plus"></i>
                          </a>
                      </div>
                      </div>
                      </div>
                      </div>
                    </div>
             }
             <script>
                 function Changeheart(){
                     
                     if(document.getElementById('cohe').style.color == "red")
                     {
                         alert("Item removed from whish list")
                     }
                     else{
                         alert("Item Addded to whish list")
                     }
                 }
             </script>
        </div>
        </div>
</body>
