@using MealWheel
@model IEnumerable<MealWheel.Models.Address>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 style="color:#6f42c1"> 
            Address List
        </h2>
    </div>
     <div class="col-6 text-end">
        <a asp-action="Create" class="btn" style="background-color:#6f42c1;color:white"> &nbsp; Add Address</a>
    </div>

    <br />
    <br />
    <div class="col-lg-12 col-md-6">
      <table class=" container table table-striped">
      <tr>
        <th>
            @Html.DisplayNameFor(c => c.Door_no)
        </th>
         <th>
            @Html.DisplayNameFor(c => c.Area)
        </th>
         <th>
            @Html.DisplayNameFor(c => c.Landmark)
        </th>
         <th>
            @Html.DisplayNameFor(c => c.FullAddress)
        </th>
        
        <th></th>
      </tr>
      @foreach(var item in Model)
      {
      <tr>
          <td>
              @item.Door_no
          </td>
          <td>
              @item.Area
          </td>
          <td>
              @item.Landmark
          </td>
          <td>
              @item.FullAddress
          </td>
         
          <td>
       <div class="btn-group" role="group">
  <a asp-action="Edit" asp-controller="Addresses" class="btn btn-success" asp-route-id="@item.id" > Edit  </a>
  <a class="btn btn-warning" asp-action="Details" asp-controller="Addresses" asp-route-id="@item.id">Details</a>
  <a class="btn btn-danger" asp-action="Delete" asp-controller="Addresses" asp-route-id="@item.id"> Delete </a>
</div>
</td>
</tr>
      }
      </table>
      </div>
    </div>


