@using MealWheel
@model IEnumerable<MealWheel.Models.favorite>
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css"/>
</head>
<div class="row">
    <div class="col-6">
        <h2 style="color:#6f42c1"> 
            Favorite's List
        </h2>
    </div>
    @* <div class="col-6 text-end">
        <a asp-action="Create" class="btn" style="background-color:#6f42c1;color:white"> &nbsp; Add Favorite</a>
    </div>*@

    <br />
    <br />
    <div class="col-lg-12 col-md-6">
      <table class=" container table table-striped">
      <tr>
            <th>
            @Html.DisplayNameFor(c => c.product.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(c => c.uname)
        </th>
        
        <th></th>
      </tr>
      @foreach(var item in Model)
      {
      <tr>
          <td>
              @item.product.Name
          </td>
          <td>
              @item.uname
          </td>
         
          <td>
       <div class="btn-group no-style" role="group">
  @*<a asp-action="Edit" asp-controller="Favorites" class="btn btn-success" asp-route-id="@item.id" > Edit  </a>*@
  <a class="btn btn-warning" asp-action="Details" asp-controller="Favorites" asp-route-id="@item.id">Details</a>
  &nbsp
  <a class="btn" asp-action="Delete" asp-controller="Favorites" asp-route-id="@item.id"> Delete </a>
</div>
</td>
</tr>
      }
      </table>
      </div>
    </div>



